@use "./abstracts" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: $color-light-gray;
	transition: all 1s ease;

	&:has(:popover-open) {
		background-color: $color-dark-gray-16;
	}
}

ul {
	list-style: none;
}

.container {
	min-height: 100vh;
	max-width: 1394px;
	margin: 0 auto;
	padding: 48px 10px;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	margin-top: 102px;
	display: grid;
	align-content: center;
	justify-content: center;

	&:has(.loader__card),
	&:has(.pokemon__card) {
		grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
		justify-items: center;
		gap: 102px 10px;
	}

	& .error {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;

		img {
			width: 128px;
			height: 128px;
		}

		p {
			@include typography-body;
		}

		button {
			padding: 12px 50px;
		}
	}
}
