@use "./abstracts" as *;

.loader {
	&__card {
		width: 322px;
		height: 260px;
		padding: 24px;
		border-radius: 6px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		background-color: #d3d4d8;
	}

	&__image {
		width: 180px;
		height: 180px;
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translate(-50%, 100%);
		border-radius: 6px;
		background-color: #aaa;
		animation: skeleton-loading 1s linear infinite alternate;
	}

	&__name {
		margin-bottom: 8px;
		width: 102px;
		height: 33px;
		border-radius: 999px;
		background-color: #aaa;
		animation: skeleton-loading 1s linear infinite alternate;
	}

	&__id {
		margin-bottom: 20px;
		width: 42px;
		height: 18px;
		border-radius: 999px;
		background-color: #aaa;
		animation: skeleton-loading 1s linear infinite alternate;
	}

	&__types {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__type {
		width: 86px;
		height: 34.9px;
		border-radius: 999px;
		background-color: #aaa;
		animation: skeleton-loading 1s linear infinite alternate;
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: #aaa;
	}
	100% {
		background-color: #c4c4c4;
	}
}
